/* Apply Karla Regular to all body text */
body {
  font-family: 'Karla', sans-serif;
}

/* Apply Markazi Text to all headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Markazi Text', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


img {
  border-radius: 16px;
}

button {
  border-radius: 16px;
}




.CardTitle {
  font: size 18pt, weight bold;
}
